
.comments {
    margin-top: 102px;
    margin: auto;
    margin-bottom: 102px;
}

@media screen and (max-width: 1279px) {
    .comments {
        width: 928px
    }
}

@media screen and (max-width: 1023px) {
    .comments {
        width: 660px;
    }
}

@media screen and (max-width: 767px) {
    .comments {
        width: 343px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 374px) {
    .comments {
        width: 288px;
    }
}

