@import url(/fonts/Inter/inter.css);

/*@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
*/


.page {
    font-family: Inter;
    background-color: #2A2C2F;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
    padding-top: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    min-width: 320px;
}



