@import url(__image/photo-grid__image.css);

.photo-grid {
    max-width: 1184px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    margin-top: 102px;
}


@media screen and (max-width: 1279px) {
    .photo-grid {
        max-width: 928px;
        grid-gap: 14px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 97px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: 343px;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        margin-top: 64px;
    }
}

@media screen and (max-width: 375px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}

