@import url(__title/lead__title.css);
@import url(__subtitle/lead__subtitle.css);
@import url(__image/lead__image.css);
@import url(__caption/lead__caption.css);

.lead {
    margin: auto;
    max-width: 985px;
    margin-top: 48px;
}


@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width: 375px) {
    .lead {
        max-width: 375px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
    }
}