
.cover__subtitle {
    max-width: 382px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    margin-top: 134px;
    padding: 0;
    margin-bottom: 48px;
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
        max-width: 413px;
        margin-top: 70px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        margin-bottom: 40px;
        margin-top: 45px;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 17px;
        max-width: 343px;
        margin-top: 7px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 375px) {
    .cover__subtitle {
        max-width: 288px;
        
    }
}