

.footer__author {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 282px;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    margin-top: 10px;
}

@media screen and (max-width: 1279px) {
  .footer__author {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
    .footer__author {
      justify-content: flex-start;
      margin-top: 48px;
    }
}