.lead__image {
    display: flex;
    margin: auto;
    max-width: 985px;
    max-height: 554px;
}


@media screen and (max-width: 1280px) {
    .lead__image {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        max-height: 420px;
    }
}

@media screen and (max-width: 375px) {
    .lead__image {
        max-height: 211px;
        
    }
}