
.header__langs {
    width: 78px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 17px;
}

@media screen and (max-width: 767px) {
    .header__langs {
        width: 68px;
    }
}
