@import url(__subtitle/cover__subtitle.css);
@import url(__title/cover__title.css);
@import url(__link/cover__link.css);

.cover {
    margin: auto;
    max-width: 1184px;
    margin-top: 102px;
    background-image: url(cover.jpg);
    background-size: cover;
    background-position: center;
    height: 594px;
    width: 100%;
}


@media screen and (max-width: 1279px) {
    .cover {
        height: 562px;
        max-width: 1024px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
       max-width: 768px;
       height: 500px;
    }
}


@media screen and (max-width: 767px) {
    .cover {
        max-width: 375px;
        margin-top: 48px;
        height: 272px;
    }
}

@media screen and (max-width: 374px) {
    .cover {
        max-width: 320px;
        height: 216px;
    }
}


