
.cover__title {
    z-index: 1;
    font-size: 72px;
    line-height: 78px;
    max-width: 1094px;
    text-align: center;
    margin: 0;
    margin-top: 274px;
}

@media screen and (max-width: 1279px) {
    .cover__title {
        margin-top: 211px;
        max-width: 650px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
        max-width: 720px;
        margin-top: 165px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 343px;
        font-size: 32px;
        line-height: 35px;
        margin-top: 104px;
    }
}

@media screen and (max-width: 375px) {
    .cover__title {
        max-width: 288px;
        margin-top: 64px;
    }
}