@import url(__image/container__image.css);
@import url(__quote-author/container__quote-author.css);
@import url(__quote/container__quote.css);
@import url(__comment/container__comment.css);


.container {
    width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 71px;
}

@media screen and (max-width: 1279px) {
    .container {
        width: 925px
    }
}

@media screen and (max-width: 1023px) {
    .container {
        width: 382px;
        margin: auto;
        display: grid;
        grid-gap: 48px;
        margin-top: 66px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 343px;
        margin-top: 42px;
    }
}

@media screen and (max-width: 374px) {
    .container {
        width: 288px;
        margin-top: 34px;
    }
}