
.container__quote {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 42px;
}

@media screen and (max-width: 1023px) {
    .container__quote {
        order: 3;
    }
}

@media screen and (max-width: 767px) {
    .container__quote {
        margin-top: 24px;
    }
}