.places__item {
    width: 984px;
    margin: auto;
}


@media screen and (max-width: 1279px) {
    .places__item {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .places__item {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .places__item {
        max-width: 375px;
    }
}

@media screen and (max-width: 374px) {
    .places__item {
        max-width: 320px;
    }
}

